* {
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif
}

body, html {
    margin: 0;
    padding: 0;
    background-color: #C0C0C0;
}

section {
    width: 100%;
    height: 1000px;
    padding:50px;
    /*padding: 10px;*/
}

.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-image: url('./img/monitor.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.result_box{
    padding:60px 0px 10px 0px;
    color:whitesmoke;
    font-size:80px;
    font-weight: 900;
    text-align:center;
}

.img_box{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('./img/Safety-manager.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:450px;
    padding-bottom:40px;
}

/* main box */
.main_box, .main_vid_box{
    width:0px;
    height:0px;
    display: none;
}

/* score */
.score_box{
    display:flex;
    flex-direction: row;
    justify-content: center;
    color:white;
    font-size: 24px;
}
.score_label{
    margin: 5px 10px 5px 10px;
}
.score_value{
    margin: 5px 10px 5px 1px;
}

/* btn */
.btn_box {
    width: 100%;
    margin-top: 10px;
    display: flex;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
}

.btn{
    width: 120px;
    height: 40px;
    margin:0px 15px 0px 15px;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    color: whitesmoke;
}
.btn_select {
    display: flex;
    padding-top:7px;
    justify-content: center;
    align-content: center;
    background-color: lightslategrey;
}

.btn_upload {
    background-color: #52608D
}

.btn_detect {
    background-color: darkblue;
}

.btn_detect:hover {
    width: 120px;
}