.modal_box {
    background-color: #2C292A;
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.result_box_modal {
    width: 100%;
    height: 13%;
    margin-bottom: 5px;
    padding: 10px;
    color:white;
    font-size: 40px;
    text-align: center;
}

/* main box */
.main_box_modal, .main_vid_box_modal {
    width: 95%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}

.main_box_modal img, video {
    width: 416px;
    height: 416px;
    margin: auto;
    object-fit: fill;
    object-position: center;
}


/* score */
.score_box_modal {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
}

.score_box_modal span {
    color: white;
}

.score_label_modal {
    margin: 5px 10px;
}