<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/join.css">

    <title>Safety Manager Join</title>

    <!-- ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
</head>

<script src="{{ url_for('static', filename='js/user.js') }}"></script>

<body>
<main>
    <!-- img -->
    <div class="img_container">
        <img alt="Safety Manager" src="/static/css/img/Safety-manager.png">
    </div>
    <!-- Join container -->
    <form id="form">
        <input type="text" id="id" class="text_field" placeholder="아이디/이메일">
        <input type="text" id="name" class="text_field" placeholder="이름">
        <input type="text" id="company" class="text_field" placeholder="회사">
        <input type="password" id="pwd" class="text_field" placeholder="비밀번호">
        <input type="button" class="submit_btn" onclick="join()" value="가입하기">
    </form>
    <div class="login_container">
        <a href="/user/login">로그인하기</a>
    </div>
</main>
</body>

</html>