<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/join.css">
    <title>Safety Manager Join</title>
</head>

<body>
    <main>
        <!-- img -->
        <div class="img_container">
            <img alt="Safety Manager" src="/static/css/img/Safety-manager.png">
        </div>
        <!-- Join container -->
        <form id="form">
            <input type="text" class="text_field" name="email" placeholder="아이디">
            <input type="text" class="text_field" name="company" placeholder="회사">
            <input type="password" class="text_field" name="password" placeholder="비밀번호">
            <input type="submit" class="submit_btn" value="가입하기">
        </form>
        <div class="login_container">
            <a href="/login">로그인하기</a>
        </div>
    </main>
</body>

</html>