<script>
    function logout() {
         $.ajax({
             type: "GET",
             url: '/user/logout',
             data: {},
             success: function (response) {
                 $.removeCookie('mytoken');
                 window.location.href = '/user/login'
             }
         })
    }
</script>

<nav>
    <div class="nav_head">
        <div class="nav_logo">
            <a href="/"><img src="/static/css/img/Safety-manager.png" alt="logo"></a>
            <p>Safety Manager</p>
        </div>
        <div class="nav_menu">
            <a href="/profile/"><p>{{ user_info.name }} 님</p></a>
            <a href="/ranking/"><p>Safety Ranking</p></a>
            <p onclick="logout()">Logout</p>
        </div>
    </div>
</nav>